{
 "openapi": "3.0.1",
 "info": {
  "title": "App Store Connect API",
  "version": "4.3.1",
  "x-platforms": {
   "app_store_connect_api": "App Store Connect API"
  }
 },
 "servers": [
  {
   "url": "https://api.appstoreconnect.apple.com/"
  }
 ],
 "paths": {
  "/v2/appAvailabilities": {
   "post": {
    "tags": [
     "AppAvailabilities"
    ],
    "operationId": "appAvailabilitiesV2_createInstance",
    "requestBody": {
     "description": "AppAvailability representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AppAvailabilityV2CreateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "201": {
      "description": "Single AppAvailability",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppAvailabilityV2Response"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/appInfoLocalizations": {
   "post": {
    "tags": [
     "AppInfoLocalizations"
    ],
    "operationId": "appInfoLocalizations_createInstance",
    "requestBody": {
     "description": "AppInfoLocalization representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AppInfoLocalizationCreateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "201": {
      "description": "Single AppInfoLocalization",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppInfoLocalizationResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/appInfoLocalizations/{id}": {
   "parameters": [
    {
     "name": "id",
     "in": "path",
     "description": "the id of the requested resource",
     "schema": {
      "type": "string"
     },
     "style": "simple",
     "required": true
    }
   ],
   "get": {
    "tags": [
     "AppInfoLocalizations"
    ],
    "operationId": "appInfoLocalizations_getInstance",
    "parameters": [
     {
      "name": "fields[appInfoLocalizations]",
      "in": "query",
      "description": "the fields to include for returned resources of type appInfoLocalizations",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appInfos]",
      "in": "query",
      "description": "the fields to include for returned resources of type appInfos",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "include",
      "in": "query",
      "description": "comma-separated list of relationships to include",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     }
    ],
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "200": {
      "description": "Single AppInfoLocalization",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppInfoLocalizationResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "AppInfoLocalizations"
    ],
    "operationId": "appInfoLocalizations_updateInstance",
    "requestBody": {
     "description": "AppInfoLocalization representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AppInfoLocalizationUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "200": {
      "description": "Single AppInfoLocalization",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppInfoLocalizationResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/appPriceSchedules": {
   "post": {
    "tags": [
     "AppPriceSchedules"
    ],
    "operationId": "appPriceSchedules_createInstance",
    "requestBody": {
     "description": "AppPriceSchedule representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AppPriceScheduleCreateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "201": {
      "description": "Single AppPriceSchedule",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppPriceScheduleResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/appScreenshotSets": {
   "post": {
    "tags": [
     "AppScreenshotSets"
    ],
    "operationId": "appScreenshotSets_createInstance",
    "requestBody": {
     "description": "AppScreenshotSet representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AppScreenshotSetCreateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "201": {
      "description": "Single AppScreenshotSet",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppScreenshotSetResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/appScreenshotSets/{id}": {
   "parameters": [
    {
     "name": "id",
     "in": "path",
     "description": "the id of the requested resource",
     "schema": {
      "type": "string"
     },
     "style": "simple",
     "required": true
    }
   ],
   "delete": {
    "tags": [
     "AppScreenshotSets"
    ],
    "operationId": "appScreenshotSets_deleteInstance",
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "204": {
      "description": "Success (no content)"
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/appScreenshots": {
   "post": {
    "tags": [
     "AppScreenshots"
    ],
    "operationId": "appScreenshots_createInstance",
    "requestBody": {
     "description": "AppScreenshot representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AppScreenshotCreateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "201": {
      "description": "Single AppScreenshot",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppScreenshotResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/appScreenshots/{id}": {
   "parameters": [
    {
     "name": "id",
     "in": "path",
     "description": "the id of the requested resource",
     "schema": {
      "type": "string"
     },
     "style": "simple",
     "required": true
    }
   ],
   "get": {
    "tags": [
     "AppScreenshots"
    ],
    "operationId": "appScreenshots_getInstance",
    "parameters": [
     {
      "name": "fields[appScreenshots]",
      "in": "query",
      "description": "the fields to include for returned resources of type appScreenshots",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appScreenshotSets]",
      "in": "query",
      "description": "the fields to include for returned resources of type appScreenshotSets",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "include",
      "in": "query",
      "description": "comma-separated list of relationships to include",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     }
    ],
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "200": {
      "description": "Single AppScreenshot",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppScreenshotResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "AppScreenshots"
    ],
    "operationId": "appScreenshots_updateInstance",
    "requestBody": {
     "description": "AppScreenshot representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AppScreenshotUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "200": {
      "description": "Single AppScreenshot",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppScreenshotResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "AppScreenshots"
    ],
    "operationId": "appScreenshots_deleteInstance",
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "204": {
      "description": "Success (no content)"
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/appStoreVersionLocalizations": {
   "post": {
    "tags": [
     "AppStoreVersionLocalizations"
    ],
    "operationId": "appStoreVersionLocalizations_createInstance",
    "requestBody": {
     "description": "AppStoreVersionLocalization representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AppStoreVersionLocalizationCreateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "201": {
      "description": "Single AppStoreVersionLocalization",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppStoreVersionLocalizationResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/appStoreVersionLocalizations/{id}": {
   "parameters": [
    {
     "name": "id",
     "in": "path",
     "description": "the id of the requested resource",
     "schema": {
      "type": "string"
     },
     "style": "simple",
     "required": true
    }
   ],
   "get": {
    "tags": [
     "AppStoreVersionLocalizations"
    ],
    "operationId": "appStoreVersionLocalizations_getInstance",
    "parameters": [
     {
      "name": "fields[appStoreVersionLocalizations]",
      "in": "query",
      "description": "the fields to include for returned resources of type appStoreVersionLocalizations",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appStoreVersions]",
      "in": "query",
      "description": "the fields to include for returned resources of type appStoreVersions",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appScreenshotSets]",
      "in": "query",
      "description": "the fields to include for returned resources of type appScreenshotSets",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appPreviewSets]",
      "in": "query",
      "description": "the fields to include for returned resources of type appPreviewSets",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "include",
      "in": "query",
      "description": "comma-separated list of relationships to include",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "limit[appPreviewSets]",
      "in": "query",
      "description": "maximum number of related appPreviewSets returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appScreenshotSets]",
      "in": "query",
      "description": "maximum number of related appScreenshotSets returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[searchKeywords]",
      "in": "query",
      "description": "maximum number of related searchKeywords returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     }
    ],
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "200": {
      "description": "Single AppStoreVersionLocalization",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppStoreVersionLocalizationResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "AppStoreVersionLocalizations"
    ],
    "operationId": "appStoreVersionLocalizations_updateInstance",
    "requestBody": {
     "description": "AppStoreVersionLocalization representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AppStoreVersionLocalizationUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "200": {
      "description": "Single AppStoreVersionLocalization",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppStoreVersionLocalizationResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/appStoreVersions": {
   "post": {
    "tags": [
     "AppStoreVersions"
    ],
    "operationId": "appStoreVersions_createInstance",
    "requestBody": {
     "description": "AppStoreVersion representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AppStoreVersionCreateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "201": {
      "description": "Single AppStoreVersion",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppStoreVersionResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/appStoreVersions/{id}": {
   "parameters": [
    {
     "name": "id",
     "in": "path",
     "description": "the id of the requested resource",
     "schema": {
      "type": "string"
     },
     "style": "simple",
     "required": true
    }
   ],
   "get": {
    "tags": [
     "AppStoreVersions"
    ],
    "operationId": "appStoreVersions_getInstance",
    "parameters": [
     {
      "name": "fields[appStoreVersions]",
      "in": "query",
      "description": "the fields to include for returned resources of type appStoreVersions",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[apps]",
      "in": "query",
      "description": "the fields to include for returned resources of type apps",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appStoreVersionLocalizations]",
      "in": "query",
      "description": "the fields to include for returned resources of type appStoreVersionLocalizations",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[builds]",
      "in": "query",
      "description": "the fields to include for returned resources of type builds",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appStoreVersionPhasedReleases]",
      "in": "query",
      "description": "the fields to include for returned resources of type appStoreVersionPhasedReleases",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[gameCenterAppVersions]",
      "in": "query",
      "description": "the fields to include for returned resources of type gameCenterAppVersions",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[routingAppCoverages]",
      "in": "query",
      "description": "the fields to include for returned resources of type routingAppCoverages",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appStoreReviewDetails]",
      "in": "query",
      "description": "the fields to include for returned resources of type appStoreReviewDetails",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appStoreVersionSubmissions]",
      "in": "query",
      "description": "the fields to include for returned resources of type appStoreVersionSubmissions",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false,
      "deprecated": true
     },
     {
      "name": "fields[appClipDefaultExperiences]",
      "in": "query",
      "description": "the fields to include for returned resources of type appClipDefaultExperiences",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appStoreVersionExperiments]",
      "in": "query",
      "description": "the fields to include for returned resources of type appStoreVersionExperiments",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[alternativeDistributionPackages]",
      "in": "query",
      "description": "the fields to include for returned resources of type alternativeDistributionPackages",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "include",
      "in": "query",
      "description": "comma-separated list of relationships to include",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "limit[appStoreVersionExperiments]",
      "in": "query",
      "description": "maximum number of related appStoreVersionExperiments returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false,
      "deprecated": true
     },
     {
      "name": "limit[appStoreVersionExperimentsV2]",
      "in": "query",
      "description": "maximum number of related appStoreVersionExperimentsV2 returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appStoreVersionLocalizations]",
      "in": "query",
      "description": "maximum number of related appStoreVersionLocalizations returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     }
    ],
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "200": {
      "description": "Single AppStoreVersion",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppStoreVersionResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "AppStoreVersions"
    ],
    "operationId": "appStoreVersions_updateInstance",
    "requestBody": {
     "description": "AppStoreVersion representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AppStoreVersionUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "200": {
      "description": "Single AppStoreVersion",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppStoreVersionResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/apps": {
   "get": {
    "tags": [
     "Apps"
    ],
    "operationId": "apps_getCollection",
    "parameters": [
     {
      "name": "filter[name]",
      "in": "query",
      "description": "filter by attribute 'name'",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "filter[bundleId]",
      "in": "query",
      "description": "filter by attribute 'bundleId'",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "filter[sku]",
      "in": "query",
      "description": "filter by attribute 'sku'",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "filter[appStoreVersions.appStoreState]",
      "in": "query",
      "description": "filter by attribute 'appStoreVersions.appStoreState'",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false,
      "deprecated": true
     },
     {
      "name": "filter[appStoreVersions.platform]",
      "in": "query",
      "description": "filter by attribute 'appStoreVersions.platform'",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "filter[appStoreVersions.appVersionState]",
      "in": "query",
      "description": "filter by attribute 'appStoreVersions.appVersionState'",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "filter[reviewSubmissions.state]",
      "in": "query",
      "description": "filter by attribute 'reviewSubmissions.state'",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "filter[reviewSubmissions.platform]",
      "in": "query",
      "description": "filter by attribute 'reviewSubmissions.platform'",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "filter[appStoreVersions]",
      "in": "query",
      "description": "filter by id(s) of related 'appStoreVersions'",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "filter[id]",
      "in": "query",
      "description": "filter by id(s)",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "exists[gameCenterEnabledVersions]",
      "in": "query",
      "description": "filter by existence or non-existence of related 'gameCenterEnabledVersions'",
      "schema": {
       "type": "boolean"
      },
      "style": "form",
      "explode": false,
      "required": false,
      "deprecated": true
     },
     {
      "name": "sort",
      "in": "query",
      "description": "comma-separated list of sort expressions; resources will be sorted as specified",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[apps]",
      "in": "query",
      "description": "the fields to include for returned resources of type apps",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appEncryptionDeclarations]",
      "in": "query",
      "description": "the fields to include for returned resources of type appEncryptionDeclarations",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[buildIcons]",
      "in": "query",
      "description": "the fields to include for returned resources of type buildIcons",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[ciProducts]",
      "in": "query",
      "description": "the fields to include for returned resources of type ciProducts",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[betaGroups]",
      "in": "query",
      "description": "the fields to include for returned resources of type betaGroups",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appStoreVersions]",
      "in": "query",
      "description": "the fields to include for returned resources of type appStoreVersions",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[preReleaseVersions]",
      "in": "query",
      "description": "the fields to include for returned resources of type preReleaseVersions",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[betaAppLocalizations]",
      "in": "query",
      "description": "the fields to include for returned resources of type betaAppLocalizations",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[builds]",
      "in": "query",
      "description": "the fields to include for returned resources of type builds",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[betaLicenseAgreements]",
      "in": "query",
      "description": "the fields to include for returned resources of type betaLicenseAgreements",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[betaAppReviewDetails]",
      "in": "query",
      "description": "the fields to include for returned resources of type betaAppReviewDetails",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appInfos]",
      "in": "query",
      "description": "the fields to include for returned resources of type appInfos",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appClips]",
      "in": "query",
      "description": "the fields to include for returned resources of type appClips",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[endUserLicenseAgreements]",
      "in": "query",
      "description": "the fields to include for returned resources of type endUserLicenseAgreements",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[inAppPurchases]",
      "in": "query",
      "description": "the fields to include for returned resources of type inAppPurchases",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[subscriptionGroups]",
      "in": "query",
      "description": "the fields to include for returned resources of type subscriptionGroups",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[gameCenterEnabledVersions]",
      "in": "query",
      "description": "the fields to include for returned resources of type gameCenterEnabledVersions",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false,
      "deprecated": true
     },
     {
      "name": "fields[appCustomProductPages]",
      "in": "query",
      "description": "the fields to include for returned resources of type appCustomProductPages",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[promotedPurchases]",
      "in": "query",
      "description": "the fields to include for returned resources of type promotedPurchases",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appEvents]",
      "in": "query",
      "description": "the fields to include for returned resources of type appEvents",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[reviewSubmissions]",
      "in": "query",
      "description": "the fields to include for returned resources of type reviewSubmissions",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[subscriptionGracePeriods]",
      "in": "query",
      "description": "the fields to include for returned resources of type subscriptionGracePeriods",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[gameCenterDetails]",
      "in": "query",
      "description": "the fields to include for returned resources of type gameCenterDetails",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appStoreVersionExperiments]",
      "in": "query",
      "description": "the fields to include for returned resources of type appStoreVersionExperiments",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[androidToIosAppMappingDetails]",
      "in": "query",
      "description": "the fields to include for returned resources of type androidToIosAppMappingDetails",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "limit",
      "in": "query",
      "description": "maximum resources per page",
      "schema": {
       "type": "integer",
       "maximum": 200
      },
      "style": "form"
     },
     {
      "name": "include",
      "in": "query",
      "description": "comma-separated list of relationships to include",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "limit[androidToIosAppMappingDetails]",
      "in": "query",
      "description": "maximum number of related androidToIosAppMappingDetails returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appClips]",
      "in": "query",
      "description": "maximum number of related appClips returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appCustomProductPages]",
      "in": "query",
      "description": "maximum number of related appCustomProductPages returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appEncryptionDeclarations]",
      "in": "query",
      "description": "maximum number of related appEncryptionDeclarations returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appEvents]",
      "in": "query",
      "description": "maximum number of related appEvents returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appInfos]",
      "in": "query",
      "description": "maximum number of related appInfos returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appStoreVersionExperimentsV2]",
      "in": "query",
      "description": "maximum number of related appStoreVersionExperimentsV2 returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appStoreVersions]",
      "in": "query",
      "description": "maximum number of related appStoreVersions returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[betaAppLocalizations]",
      "in": "query",
      "description": "maximum number of related betaAppLocalizations returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[betaGroups]",
      "in": "query",
      "description": "maximum number of related betaGroups returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[builds]",
      "in": "query",
      "description": "maximum number of related builds returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[gameCenterEnabledVersions]",
      "in": "query",
      "description": "maximum number of related gameCenterEnabledVersions returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false,
      "deprecated": true
     },
     {
      "name": "limit[inAppPurchases]",
      "in": "query",
      "description": "maximum number of related inAppPurchases returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false,
      "deprecated": true
     },
     {
      "name": "limit[inAppPurchasesV2]",
      "in": "query",
      "description": "maximum number of related inAppPurchasesV2 returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[preReleaseVersions]",
      "in": "query",
      "description": "maximum number of related preReleaseVersions returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[promotedPurchases]",
      "in": "query",
      "description": "maximum number of related promotedPurchases returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[reviewSubmissions]",
      "in": "query",
      "description": "maximum number of related reviewSubmissions returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[subscriptionGroups]",
      "in": "query",
      "description": "maximum number of related subscriptionGroups returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     }
    ],
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "200": {
      "description": "List of Apps",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppsResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/apps/{id}": {
   "parameters": [
    {
     "name": "id",
     "in": "path",
     "description": "the id of the requested resource",
     "schema": {
      "type": "string"
     },
     "style": "simple",
     "required": true
    }
   ],
   "get": {
    "tags": [
     "Apps"
    ],
    "operationId": "apps_getInstance",
    "parameters": [
     {
      "name": "fields[apps]",
      "in": "query",
      "description": "the fields to include for returned resources of type apps",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appEncryptionDeclarations]",
      "in": "query",
      "description": "the fields to include for returned resources of type appEncryptionDeclarations",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[buildIcons]",
      "in": "query",
      "description": "the fields to include for returned resources of type buildIcons",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[ciProducts]",
      "in": "query",
      "description": "the fields to include for returned resources of type ciProducts",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[betaGroups]",
      "in": "query",
      "description": "the fields to include for returned resources of type betaGroups",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appStoreVersions]",
      "in": "query",
      "description": "the fields to include for returned resources of type appStoreVersions",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[preReleaseVersions]",
      "in": "query",
      "description": "the fields to include for returned resources of type preReleaseVersions",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[betaAppLocalizations]",
      "in": "query",
      "description": "the fields to include for returned resources of type betaAppLocalizations",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[builds]",
      "in": "query",
      "description": "the fields to include for returned resources of type builds",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[betaLicenseAgreements]",
      "in": "query",
      "description": "the fields to include for returned resources of type betaLicenseAgreements",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[betaAppReviewDetails]",
      "in": "query",
      "description": "the fields to include for returned resources of type betaAppReviewDetails",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appInfos]",
      "in": "query",
      "description": "the fields to include for returned resources of type appInfos",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appClips]",
      "in": "query",
      "description": "the fields to include for returned resources of type appClips",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[endUserLicenseAgreements]",
      "in": "query",
      "description": "the fields to include for returned resources of type endUserLicenseAgreements",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[inAppPurchases]",
      "in": "query",
      "description": "the fields to include for returned resources of type inAppPurchases",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[subscriptionGroups]",
      "in": "query",
      "description": "the fields to include for returned resources of type subscriptionGroups",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[gameCenterEnabledVersions]",
      "in": "query",
      "description": "the fields to include for returned resources of type gameCenterEnabledVersions",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false,
      "deprecated": true
     },
     {
      "name": "fields[appCustomProductPages]",
      "in": "query",
      "description": "the fields to include for returned resources of type appCustomProductPages",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[promotedPurchases]",
      "in": "query",
      "description": "the fields to include for returned resources of type promotedPurchases",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appEvents]",
      "in": "query",
      "description": "the fields to include for returned resources of type appEvents",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[reviewSubmissions]",
      "in": "query",
      "description": "the fields to include for returned resources of type reviewSubmissions",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[subscriptionGracePeriods]",
      "in": "query",
      "description": "the fields to include for returned resources of type subscriptionGracePeriods",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[gameCenterDetails]",
      "in": "query",
      "description": "the fields to include for returned resources of type gameCenterDetails",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[appStoreVersionExperiments]",
      "in": "query",
      "description": "the fields to include for returned resources of type appStoreVersionExperiments",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[androidToIosAppMappingDetails]",
      "in": "query",
      "description": "the fields to include for returned resources of type androidToIosAppMappingDetails",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "include",
      "in": "query",
      "description": "comma-separated list of relationships to include",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "limit[androidToIosAppMappingDetails]",
      "in": "query",
      "description": "maximum number of related androidToIosAppMappingDetails returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appClips]",
      "in": "query",
      "description": "maximum number of related appClips returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appCustomProductPages]",
      "in": "query",
      "description": "maximum number of related appCustomProductPages returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appEncryptionDeclarations]",
      "in": "query",
      "description": "maximum number of related appEncryptionDeclarations returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appEvents]",
      "in": "query",
      "description": "maximum number of related appEvents returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appInfos]",
      "in": "query",
      "description": "maximum number of related appInfos returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appStoreVersionExperimentsV2]",
      "in": "query",
      "description": "maximum number of related appStoreVersionExperimentsV2 returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[appStoreVersions]",
      "in": "query",
      "description": "maximum number of related appStoreVersions returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[betaAppLocalizations]",
      "in": "query",
      "description": "maximum number of related betaAppLocalizations returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[betaGroups]",
      "in": "query",
      "description": "maximum number of related betaGroups returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[builds]",
      "in": "query",
      "description": "maximum number of related builds returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[gameCenterEnabledVersions]",
      "in": "query",
      "description": "maximum number of related gameCenterEnabledVersions returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false,
      "deprecated": true
     },
     {
      "name": "limit[inAppPurchases]",
      "in": "query",
      "description": "maximum number of related inAppPurchases returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false,
      "deprecated": true
     },
     {
      "name": "limit[inAppPurchasesV2]",
      "in": "query",
      "description": "maximum number of related inAppPurchasesV2 returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[preReleaseVersions]",
      "in": "query",
      "description": "maximum number of related preReleaseVersions returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[promotedPurchases]",
      "in": "query",
      "description": "maximum number of related promotedPurchases returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[reviewSubmissions]",
      "in": "query",
      "description": "maximum number of related reviewSubmissions returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     },
     {
      "name": "limit[subscriptionGroups]",
      "in": "query",
      "description": "maximum number of related subscriptionGroups returned (when they are included)",
      "schema": {
       "type": "integer",
       "maximum": 50
      },
      "style": "form",
      "required": false
     }
    ],
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "200": {
      "description": "Single App",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AppResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/inAppPurchaseAppStoreReviewScreenshots": {
   "post": {
    "tags": [
     "InAppPurchaseAppStoreReviewScreenshots"
    ],
    "operationId": "inAppPurchaseAppStoreReviewScreenshots_createInstance",
    "requestBody": {
     "description": "InAppPurchaseAppStoreReviewScreenshot representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/InAppPurchaseAppStoreReviewScreenshotCreateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "201": {
      "description": "Single InAppPurchaseAppStoreReviewScreenshot",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InAppPurchaseAppStoreReviewScreenshotResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/inAppPurchaseAppStoreReviewScreenshots/{id}": {
   "parameters": [
    {
     "name": "id",
     "in": "path",
     "description": "the id of the requested resource",
     "schema": {
      "type": "string"
     },
     "style": "simple",
     "required": true
    }
   ],
   "patch": {
    "tags": [
     "InAppPurchaseAppStoreReviewScreenshots"
    ],
    "operationId": "inAppPurchaseAppStoreReviewScreenshots_updateInstance",
    "requestBody": {
     "description": "InAppPurchaseAppStoreReviewScreenshot representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/InAppPurchaseAppStoreReviewScreenshotUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "200": {
      "description": "Single InAppPurchaseAppStoreReviewScreenshot",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InAppPurchaseAppStoreReviewScreenshotResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "InAppPurchaseAppStoreReviewScreenshots"
    ],
    "operationId": "inAppPurchaseAppStoreReviewScreenshots_deleteInstance",
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "204": {
      "description": "Success (no content)"
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/inAppPurchaseAvailabilities": {
   "post": {
    "tags": [
     "InAppPurchaseAvailabilities"
    ],
    "operationId": "inAppPurchaseAvailabilities_createInstance",
    "requestBody": {
     "description": "InAppPurchaseAvailability representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/InAppPurchaseAvailabilityCreateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "201": {
      "description": "Single InAppPurchaseAvailability",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InAppPurchaseAvailabilityResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/inAppPurchaseLocalizations": {
   "post": {
    "tags": [
     "InAppPurchaseLocalizations"
    ],
    "operationId": "inAppPurchaseLocalizations_createInstance",
    "requestBody": {
     "description": "InAppPurchaseLocalization representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/InAppPurchaseLocalizationCreateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "201": {
      "description": "Single InAppPurchaseLocalization",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InAppPurchaseLocalizationResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/inAppPurchaseLocalizations/{id}": {
   "parameters": [
    {
     "name": "id",
     "in": "path",
     "description": "the id of the requested resource",
     "schema": {
      "type": "string"
     },
     "style": "simple",
     "required": true
    }
   ],
   "patch": {
    "tags": [
     "InAppPurchaseLocalizations"
    ],
    "operationId": "inAppPurchaseLocalizations_updateInstance",
    "requestBody": {
     "description": "InAppPurchaseLocalization representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/InAppPurchaseLocalizationUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not found error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "200": {
      "description": "Single InAppPurchaseLocalization",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InAppPurchaseLocalizationResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v1/inAppPurchasePriceSchedules": {
   "post": {
    "tags": [
     "InAppPurchasePriceSchedules"
    ],
    "operationId": "inAppPurchasePriceSchedules_createInstance",
    "requestBody": {
     "description": "InAppPurchasePriceSchedule representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/InAppPurchasePriceScheduleCreateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "201": {
      "description": "Single InAppPurchasePriceSchedule",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InAppPurchasePriceScheduleResponse"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v2/inAppPurchases": {
   "post": {
    "tags": [
     "InAppPurchases"
    ],
    "operationId": "inAppPurchasesV2_createInstance",
    "requestBody": {
     "description": "InAppPurchase representation",
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/InAppPurchaseV2CreateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "Parameter error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "201": {
      "description": "Single InAppPurchase",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InAppPurchaseV2Response"
        }
       }
      }
     },
     "409": {
      "description": "Request entity error(s)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     },
     "429": {
      "description": "Rate limit exceeded error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorResponse"
        }
       }
      }
     }
    }
   }
  },
  "/v2/inAppPurchases/{id}": {
   "parameters": [
    {
     "name": "id",
     "in": "path",
     "description": "the id of the requested resource",
     "schema": {
      "type": "string"
     },
     "style": "simple",
     "required": true
    }
   ],
   "get": {
    "tags": [
     "InAppPurchases"
    ],
    "operationId": "inAppPurchasesV2_getInstance",
    "parameters": [
     {
      "name": "fields[inAppPurchases]",
      "in": "query",
      "description": "the fields to include for returned resources of type inAppPurchases",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[inAppPurchaseLocalizations]",
      "in": "query",
      "description": "the fields to include for returned resources of type inAppPurchaseLocalizations",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[inAppPurchasePricePoints]",
      "in": "query",
      "description": "the fields to include for returned resources of type inAppPurchasePricePoints",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[inAppPurchaseContents]",
      "in": "query",
      "description": "the fields to include for returned resources of type inAppPurchaseContents",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[inAppPurchaseAppStoreReviewScreenshots]",
      "in": "query",
      "description": "the fields to include for returned resources of type inAppPurchaseAppStoreReviewScreenshots",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[promotedPurchases]",
      "in": "query",
      "description": "the fields to include for returned resources of type promotedPurchases",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[inAppPurchasePriceSchedules]",
      "in": "query",
      "description": "the fields to include for returned resources of type inAppPurchasePriceSchedules",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[inAppPurchaseAvailabilities]",
      "in": "query",
      "description": "the fields to include for returned resources of type inAppPurchaseAvailabilities",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[inAppPurchaseImages]",
      "in": "query",
      "description": "the fields to include for returned resources of type inAppPurchaseImages",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "fields[inAppPurchaseOfferCodes]",
      "in": "query",
      "description": "the fields to include for returned resources of type inAppPurchaseOfferCodes",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "include",
      "in": "query",
      "description": "comma-separated list of relationships to include",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "style": "form",
      "explode": false,
      "required": false
     },
     {
      "name": "limit[images]",
      "in": "query",
[...]
